<div id="main">
  <h1>KPI Exporter 2.0</h1>
  <form id="inner">
    <label for="groupName">Group name: </label>
    <input class="form-control" [(ngModel)]="groupName" name="groupName" type="text" list="groupNamesList">
    <datalist id="groupNamesList">
      <option *ngFor="#groupName of objectKeys(groups)" [value]="groupName">
    </datalist>
    <label for="calendarName">Calendar name: </label>
    <input class="form-control" [(ngModel)]="calendarName" name="calendarName" type="text">
    <input type="button" id="save-btn" class="btn btn-primary"
        (click)="import()" [disabled]="status.importing"
        value="Import to Google Calendar">
  </form>

  <div *ngIf="status.msg">
    <progress *ngIf="status.coursesTotal"  min="1" [max]="status.coursesTotal" [value]="status.coursesLoaded"></progress>
    <span class="status" [class.success]="status.success" [class.error]="!status.success">
      Progress: <span [innerHTML]="status.msg"></span>
    </span>
  </div>

  <footer>
    <a href="https://github.com/sochka/kpiexport2/issues">Issue tracker</a>
    <div>
      Made by &copy; Sasha Sochka<br>
      using rozklad.org.ua API <br>
      <small>
        <a href="https://www.linkedin.com/in/oleksandrsochka">linkedin</a>, &nbsp;
        <a href="https://www.facebook.com/oleksandr.sochka">facebook</a>
      </small>
    </div>
    <iframe src="https://githubbadge.appspot.com/sochka" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
  </footer>
</div>
